

@charset "utf-8";

.inline {
  display: inline-block;
}


// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// @import url('https://fonts.googleapis.com/css?family=Poppins');

// $background: black;
// $body-background-color: "black";

// Trick for rendering \n as <br>
.display-linebreak {
  white-space: pre-line;
}

// body {
//   padding: 3rem;
//   font-size: 16px;
// }

.textarea {
  width: 100%;
  min-height: 30rem;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8rem;
  line-height: 1.2;
}

@import "../node_modules/bulma/bulma.sass";